body {
  width: 650px;
  max-width: 90%;
  margin: 3em auto;
}

.title {
  font-size: 2.5em
}

body li {
  text-align: left;
  line-height: 1.3;
}

p {
  text-align: justify;
  line-height: 1.3;
}

hr {
  max-width: 33%;
  margin: 2em auto;
}

blockquote, div.sourceCode {
  background: #f9f9f9;
  padding: 0.5em 10px;
}

img {
  max-width: 100%;
}

/* Prevent subscripts, superscripts from changing line height. */

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}
